<div class="container-fluid">
	<div class="modal-container">
		<div class="form-row text-center">
			<div class="col">
				<hello name="{{ name }}"></hello>
				<p>
					Start editing to see some magic happen :)
				</p>
				<button type="button" name="btnOK" class="btn btn-primary" (click)="OK()">OK</button>
                  <button type="button" name="btnCancelar" class="btn btn-primary" (click)="Cancelar()">Cancelar</button>
                </div>
              </div>
    </div>
</div>